.icon {
    font-size: 80px;
    margin: 0px;
    padding: 5px;
    background: rgba(0,0,0,.1);
}

.value {
    font-size: 40px;
}

.label {
    text-transform: uppercase;
}

.data {
    padding: 1em;
    vertical-align: middle;
}